* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
  text-decoration: none;
  color: white;
}



a:hover{
  color: gray;
  border-bottom: 2px solid black;
}

nav>ul{
  list-style: none;
}

body {
    font-size: 24px;
    font-family: 'Open sans', sans-serif;
    color: white;
    background-color: black;
}

nav {
    color: white;
    background-color: black;
}

nav {
    background-color: black;
    color: white;
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
    justify-content: row;
    justify-content: space-between;
    align-items: center;
}   
nav div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav div img{
    margin-right:50px;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    margin:0px 20px;
}

nav img{
  height: 100px;

}

h2{
  color:black;
  backdrop-filter: blur(10px) saturate(70%);
}
p{
  backdrop-filter: blur(10px) saturate(70%);

}

.hero-muškarci{
  background-image: url("p-muskarci.jpg"); 
  background-color: white;
  background-size: cover;
  background-position: top;
  height: 80vh;
 

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
 }
.hero-žene{
  
  background-image: url("p-zene.jpg"); 
  background-color: white;
  background-size: cover;
  background-position: top;
   height: 80vh;
 
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
 }

.hero-deca{
  background-image: url("p-deca1.jpg"); 
  
  background-color: white;
  background-size: cover;
  background-position: top;
   height: 80vh;
 
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

@media screen and (max-width: 480px) {
  
  .hero-header{
    font-size: 95%;
    margin-bottom: 15px;
  }
  .text p{
    font-size: 85%;
    margin-bottom: 10px;
  }
  .hero-button{
    size: 80%;
    margin-bottom: 10px;
  }
  nav {
    flex-direction: column;
    padding: 0 5px;
  }

  nav>ul {
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 5px;
  }

  nav>img {
    margin-top: 10px;
    margin-bottom: 3px;
    width: 75px;
    height: auto;
    
  }

  nav>ul>li {
    font-size: 1.2rem;
    margin: 5px 0;
  }

  nav>h2 {
    display: none;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {

  nav {
    flex-direction: row;
    padding: 0 5px;
    box-sizing: border-box;
  }

  nav>ul>li {
    font-size: large;
    text-align: center;
  }

  nav>img {
    width: 90px;
    height: auto;
    display: block;
  }

 
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

  nav>h2 {
    font-size: 125%;
  }
}

@media screen and (min-width: 1025px) {
  nav>h2 {
    font-size: 190%;
  }
}

.hero {
    background-color: white;
    background-image: url("under_armour.jpg");
    background-size: cover;
    background-position: top;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero h2{
    color: white;
  }

  .hero p{
    color: white;
  }
  
.text {
    color: black;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    top: 50%;
    left: 50%;
    width: 50%;
  }
  
.hero-header {
  color: gray;
    margin-bottom: 8px;
  }
  
.hero-button {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    margin-top: 15px;
  }
  
.hero-button:hover {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    cursor: pointer;
  }


  .articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
.article {
    flex: 1 1 calc(33.333% - 40px);
    box-sizing: border-box;
    margin: 10px;
    overflow: hidden;
   
}
.article img {
    width: 100%;
    height: auto;
}
.article-title {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    background-color: black;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}
@media (max-width: 768px) {
    .article {
        flex: 1 1 calc(50% - 20px);
    }
}
@media (max-width: 480px) {
    .article {
        flex: 1 1 100%;
    }
}

.contact-info{
  display:flex;
  align-items: center;
  justify-content: center;
}
   
